---
import SimpleLevelIndicator from "./SimpleLevelIndicator.astro";
interface Skill {
  title: string;
  level: number;
}

const languages: ReadonlyArray<Skill> = [
  {
    title: "Typescript",
    level: 3,
  },
  {
    title: "HTML / CSS / JS",
    level: 3,
  },
  {
    title: "C#",
    level: 2,
  },
  {
    title: "Java",
    level: 2,
  },
  {
    title: "Go",
    level: 1,
  },
];
const frameworks: ReadonlyArray<Skill> = [
  {
    title: "Angular",
    level: 3,
  },
  {
    title: "React",
    level: 2,
  },
  {
    title: "NextJS",
    level: 2,
  },
  {
    title: "Ionic",
    level: 2,
  },
  {
    title: "NestJS",
    level: 2,
  },
];

const toolset: ReadonlyArray<Skill> = [
  {
    title: "Redux",
    level: 3,
  },
  {
    title: "Nx (Monorepo)",
    level: 2,
  },
  {
    title: "Jenkins",
    level: 2,
  },
  {
    title: "Cypress",
    level: 2,
  },
  {
    title: "Docker",
    level: 2,
  },
];
---

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h3>Sprachen</h3>
      <ul>
        {
          languages.map((v) => (
            <li>
              <SimpleLevelIndicator level={v.level} />
              {v.title}
            </li>
          ))
        }
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <h3>Frameworks</h3>
      <ul>
        {
          frameworks.map((v) => (
            <li>
              <SimpleLevelIndicator level={v.level} />
              {v.title}
            </li>
          ))
        }
      </ul>
    </div>
    <div class="col-sm-12 col-md-4">
      <h3>Toolset</h3>
      <ul>
        {
          toolset.map((v) => (
              <li>
                <SimpleLevelIndicator level={v.level} />
                {v.title}
              </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>

<style>
  .container {
    padding: 0;
  }

  .skill-block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0;
  }

  li {
    font-size: 1.15rem;
  }
</style>
