---
import Layout from "../../layouts/Layout.astro";
import { projects } from "../../data/projects";
export function getStaticPaths() {
  return [
    { params: { project: "portfolio" } },
    // {params: {project: 'clockmate'}},
    { params: { project: "squirrel-news" } },
  ];
}

const { project } = Astro.params;
const {
  projectImageUrl,
  projectImageAltText,
  fullText,
  shortDescription,
  title,
  externalUrl,
  tags,
} = projects.find((p) => p.slug === project);
---

<Layout title={project}>
  <main>
    <h2>{title}</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src={projectImageUrl} alt={projectImageAltText} />
        </div>

        <div class="col-md-6">
          <p>{shortDescription}</p>

          <h4>Tech Stack</h4>
          <div class="tags-container">
            {tags.map((tag) => <span>{tag}</span>)}
          </div>

          {
            externalUrl ? (
              <a href={externalUrl}>
                zum Projekt <i class="fa-solid fa-arrow-up-right-from-square" />
              </a>
            ) : (
              ""
            )
          }
        </div>
      </div>

      <div class="row">
        <h2 class="col-12">Worum geht es?</h2>
        <div class="col-12">
          <Fragment set:html={fullText} />
        </div>
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  h4 {
    margin-top: 2rem;
  }

  img {
    border-radius: 12px;
    width: 100%;
  }

  .tags-container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    row-gap: 0.25rem;
    margin-bottom: 2rem;
  }

  .tags-container span {
    background: var(--color-tag-background);
    border-radius: 12px;
    padding: 0 0.5rem;
  }
</style>
